<!--
  STREAMS
-->

<ion-view view-title="Stream">
  <ion-content class="padding" style="background-color:#301C41">

    <div class="row">
      <div class="socketStatus col col-75">{{ socketStatus }}</div>

      <button ng-click="disconnect_reconnect()" class="col button button-royal" ng-class="{disabled: socketStatus=='Attempting connection...'}" style="min-height:0px; font-size: 3vw;">{{ connectionAction }}</button>
    </div>

    <div class="divider row"></div>
    
    <div class="logsTable" ng-show="logData.length !== 0">
      <div ng-repeat="log in logData | orderBy:'-'" class="log newLogElement">
        {{log.message}}
      </div>
    </div>


    

  </ion-content>
</ion-view>
