<ion-view view-title="Dashboard">
  <ion-content class="padding" style="background-color: #F6F8FB;">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <h2></h2>
    <div class="list">

    <a ng-repeat="ec2 in EC2s" class="item item-thumbnail-left" href="#tab/metrics/{{ec2.InstanceId}}">
      <img src="img/ec2.png">
      <div class="activityState" ng-class="{activeEC2: ec2.State.Code == 16, stoppedEC2: ec2.State.Code == 80}"></div>
      <h2 style="height:20px">{{ec2.instanceName}}</h2>
      <p>Instance Id: {{ec2.InstanceId}}</p>
      <span style="font-size: 4vw">Last Launched: {{ec2.LaunchTime}}</span>
    </a>

  </div>
  </ion-content>
</ion-view>
